In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2021-10-22 01:23:01,-20.3428,57.7575,74.21,94,40,10.36
1,1,Bluff,NZ,2021-10-22 01:23:12,-46.6000,168.3333,52.95,63,0,9.71
2,2,Chuy,UY,2021-10-22 01:22:29,-33.6971,-53.4616,54.86,87,0,4.99
3,3,Buchanan,LR,2021-10-22 01:19:18,5.8808,-10.0467,77.54,86,100,3.11
4,4,Lebu,CL,2021-10-22 01:23:13,-37.6167,-73.6500,49.86,71,0,16.24

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Buchanan,LR,2021-10-22 01:19:18,5.8808,-10.0467,77.54,86,100,3.11
6,6,Alofi,NU,2021-10-22 01:23:13,-19.0595,-169.9187,78.69,61,75,16.11
11,11,Sao Filipe,CV,2021-10-22 01:23:15,14.8961,-24.4956,81.30,63,0,4.29
25,25,Hilo,US,2021-10-22 01:23:18,19.7297,-155.0900,82.13,64,1,6.91
27,27,Vaini,TO,2021-10-22 01:22:16,-21.2000,-175.2000,77.16,88,75,10.36
31,31,Nanakuli,US,2021-10-22 01:19:25,21.3906,-158.1547,82.35,69,40,6.91
34,34,Kapaa,US,2021-10-22 01:23:20,22.0752,-159.3190,82.38,68,1,1.99
37,37,Butaritari,KI,2021-10-22 01:23:21,3.0707,172.7902,82.85,71,25,13.00
38,38,Atuona,PF,2021-10-22 01:23:22,-9.8000,-139.0333,77.88,77,17,18.05
39,39,Taoudenni,ML,2021-10-22 01:23:22,22.6783,-3.9836,75.58,29,0,10.49

In [20]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3     Buchanan      LR     77.54   5.8808  -10.0467
6        Alofi      NU     78.69 -19.0595 -169.9187
11  Sao Filipe      CV     81.30  14.8961  -24.4956
25        Hilo      US     82.13  19.7297 -155.0900
27       Vaini      TO     77.16 -21.2000 -175.2000
31    Nanakuli      US     82.35  21.3906 -158.1547
34       Kapaa      US     82.38  22.0752 -159.3190
37  Butaritari      KI     82.85   3.0707  172.7902
38      Atuona      PF     77.88  -9.8000 -139.0333
39   Taoudenni      ML     75.58  22.6783   -3.9836

In [48]:
#set params
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    #print (hotels["results"][0]["name"])
    try:
    #hotel_df.loc[index, "Hotel Name"] = 
        print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Kamaneahn Hotel Inc
Taloa Heights
Hotel Xaguate
Hilo Hawaiian Hotel
Keleti Beach Resort
Camp Pālehua
Sheraton Kauai Coconut Beach Resort
Isles Sunset Lodge
Villa Enata
Hotel not found... skipping.
Royal Exchange Hotel
Radisson Grenada Beach Resort
Holiday Inn Express & Suites Panama City-Tyndall, an IHG Hotel
Hotel Pigalle
Richmond Vale Diving & Hiking Center
Rumah mbah Jamah
LADLA CHOUDHARY HOUSE
Will T Place
Cititel Penang
Paradise Inn
ZINGARA 76ft Catamaran, full crew-all included
Sterling Palavelli Godavari
castelo pizzaria
JABIR HOTEL
Sulthan Hotel International
Hotel Perichi's
Scoop Guest House
Hotels in Lakshadweep Islands
Hotel Syariah CN Darussalam
Screensaver
Hotel Valência
Hotel Albergue de Olinda
Welcomhotel By ITC Hotels, Bay Island, Port Blair
Blue Ridge Beach Resort
Hotel Tesoro Los Cabos
Crôa Mares Hotel
Aipana Plaza Hotel
El rranchito michuacan de ocampos
Hôtel Le Dronmi
Hotel Luta Resort
Juvinal Martin
Haajy Guest House 1
Prince and Princess Pension House
Lorengau Harbourside Hotel
Atlantis Hotel
Lidera
OYO 598 Peony Hotel
Bora-Bora Pearl Beach Resort & Spa
Sunset Inn
Hotel not found... skipping.
Grage Hotel Bengkulu
Rydges Port Macquarie
Tanna Lodge
Pondok Wisata Elim
Hotel
Tarawa Boutique Hotel
Seagulls Inn Namatani
Pin Drop Hotel
Kokopo Beach Bungalow Resort
SanBiz Lodge
فندق أوباري
PT PPI Lamongan Tambak C
Sapriadi Appy
Idlers' Rest Beach Hotel
Kyabram Motor Inn
Nabelchel Bungalows
Vanira Lodge
HS Hotsson Smart Acapulco
Hotel Posada San Jose
Bonthe Holiday Village
Salinas Park Resort Maçarico AP101
ALETHEIA Appartement Sinnamary
SEGAYA PROPERTY
Hotel de Ville
Dhidhoo beach
แอท เมืองพลอย รีสอร์ท At MuangPloy Resort
Seri Simanggang Hotel
Rock Sound Club
Bonifacio Lodge
Hotel Dawei
Hotel Octave Maldives
Poutur Pousada
Oumou Elghoura
Ramada Hotel & Suites by Wyndham Ballina Byron
RedDoorz near Alun Alun Kebumen
RACV Royal Pines Resort Gold Coast
Nusa Island Retreat
Hotel Arena Blanca
ibis Styles Karratha
The Country Lodge Hotel
Motel 6 Sinton, TX
Savannah Inn
Piaçabuçu News
Hotel not found... skipping.
Hotel Olako
Diquini Guest House
Bungalow 63
Castle Motor Lodge Motel
Moon light Furnished Units
K2 Lembeh
Khách Sạn Đông Á
Villa Orphee
ที่ทำการผู้ ใหญ่บ้าน หมู่ที่ 1
Butterfly Beach Hotel
JM Lodge
Centre Des Ressources DPENA
Courtyard by Marriott Houma
Hotel not found... skipping.
Hotel Ritz Sumbe
Comfort Inn & Suites Las Vegas - Nellis
Sheraton Nha Trang Hotel & Spa
Agan-Hotel
University Inn & Suites
Romin
Ungoofaaru Inn
Hotel Santika Mataram
Mercure Padang
Hotel Plaza Providencia
Han Palace Hotel, Semporna, Sabah.
LIKWALE LODGE
LT Aparthotel
Storyboard Beach Resort
Uruna Bay Retreat
Colinas de Matasiete
Vahmoneh Lodge Vanimo
Holiday Inn Express & Suites Twentynine Palms- Joshua Tree, an IHG Hotel
Montana Hotel Syariah
Hotel Executivo Palace
Pousada Rua Camurupim
Mega Hotel, Miri
Moondarra Motel
Reason Inn
Backpackers Inn on the Beach
Fengshui Residence
Majestic Oasis Apartments
Maitai Lapita Village Huahine
Hotel y restaurante "El Diamante"
Suites Las Palmas
Hotel Lossandes
Rancho Crepusculo
The Palms Resort
Gîte kajeon
Hotel Pousada Tropical
Weligama Bay Resort
Red Sea Hotel
Lords Inn Somnath
Grand Vilia Hotel
7 Makara Hotel
Hotel Noemi
Casa Dora, Bubaque
Lazy River Motor Inn
Beso del Viento
Makkah Clock Royal Tower, A Fairmont Hotel
Marriott's Ko Olina Beach Club
Pousada da Serra
Desert Gardens Hotel - Ayers Rock Resort
HOTEL ISABELA
Hotel Ramos
Hotel Juba
Batemans Bay Marina Resort
Yoo Naa's Palace
Creek Hollow Cabins & RV Park
Sur Plaza Hotel
Aryaduta Hotel
Maui Seaside Hotel
Scuba Portobelo
Casagrande Hotel
Holiday Inn Selma-Swancourt, an IHG Hotel
Uncle Junior Robert

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Buchanan,LR,77.54,5.8808,-10.0467,Kamaneahn Hotel Inc
6,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
11,Sao Filipe,CV,81.30,14.8961,-24.4956,Hotel Xaguate
25,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
31,Nanakuli,US,82.35,21.3906,-158.1547,Camp Pālehua
34,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
37,Butaritari,KI,82.85,3.0707,172.7902,Isles Sunset Lodge
38,Atuona,PF,77.88,-9.8000,-139.0333,Villa Enata
39,Taoudenni,ML,75.58,22.6783,-3.9836,

In [50]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))